<%= block_title("GPG Chat", "") %>
<script src="http://localhost:40551/socket.io/socket.io.js"></script>
<style>

.msg.msg-theirs {
    text-align: right;
    background: #9AEC9A;
    border-radius: 5px 5px 5px 1px;
}
.msg.msg-mine {
    text-align: left;
    background: #D5DFD5;
    border-radius: 5px 5px 1px 5px;
}

.msg {
    border: 1px solid #cdcdcd;
    width: 100%;
    padding: 1px;
    margin-bottom: 2px;
}

 </style>
<div>
    <div id="identity-selection-holder" class="col-md-6">
        Qual identidade deseja usar?
        <select id="identity-selection" class="form-control col-md-2"></select>
        <button id="identity-selected-btn">Selecionar</button>
     </div>
     <div id="chat-area" class="hidden col-md-12">
        Destinatario: <select id="destination" class="form-control col-md-2"></select>
        <div id="chat-messages" class="col-md-12" style="height:350px; display: block">
        &nbsp;
        </div>
        <input type="text" class="form-control" id="new-msg-text" />
        <input type="button" class="btn btn-success" value="Enviar" id="new-msg-send"/>
     </div>
     </body>

     <script src="/third/jquery/jquery-1.12.0.min.js"></script>
     <script src="/third/bootstrap-3.3.6/js/bootstrap.min.js"></script>
     <script src="/js/chat.js"></script>
</div>

<script type="text/javascript">
$.ajaxSetup({
   crossDomain: true
});
  var socket = io("http://localhost:40551");

var appState = {
    idLocal: null,
    contatoRemoto: null,
    clientWorkerBase: "http://localhost:40550/gpg",
    io: socket,
    contacts: []
};

socket.on("select-identity", function() {
    console.log("will prompt user for identity");
    $.ajax(appState.clientWorkerBase + "/keys", {crossDomain: true})
        .done(function(data) {
            console.log("identidades: ", data.keys);
            data.keys.forEach(function(key) {
                $("#identity-selection").append('<option value="'+key+'">'+key+'</option>')
            })
        });
    $.ajax(appState.clientWorkerBase + "/public-keys", {crossDomain: true})
        .done(function(data) {
            console.log("known public keys:" , data.keys);
            appState.contatoRemoto = data.keys;
            data.keys.forEach(function(pubKey) {
                $("#destination").append('<option value="' + pubKey + '">' + pubKey + '</option>')
            });
        });
});

socket.on("received-new-message", function (encriptedMsg) {
    $.ajax({
        type: "POST",
        crossDomain: true,
        url: appState.clientWorkerBase + "/decrypt",
        data: {msg: encriptedMsg},
        success: function(decripted) {
            console.log("received new message:", {msg: encriptedMsg})
            $("#chat-messages").append("<div class='msg msg-theirs'>" + decripted +"</div>");
        }
    });
});


$("#identity-selected-btn").click(function(event) {
    var identity =$("#identity-selection").val();
    console.log("identitdade selecionada:", identity);
    appState.io.emit("identity-selected", {identity: identity});
    $("#identity-selection-holder").hide();
    $("#chat-area").removeClass("hidden");
});

$("#new-msg-send").click(function() {
    var msg = $("#new-msg-text").val();
    var email = $("#destination").val();

    $.ajax({
        type: "POST",
        crossDomain: true,
        url: appState.clientWorkerBase + "/encrypt",
        data:  {msg: msg, email :email},
        success: function(encrypted) {
            socket.emit("sent-new-msg", {msg: encrypted, email: email});
            console.log("sending new message", {msg: encrypted, email: email});
            $("#chat-messages").append("<div class='msg msg-mine'>" + msg +"</div>");
        }
    });
});
</script>
